<a href="https://colab.research.google.com/github/RajKumarRay/Linux/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install Java 11
!apt-get install openjdk-11-jdk-headless -qq > /dev/null

# Install PySpark
!pip install pyspark -q

In [ ]:
import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3"

In [ ]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder \
    .appName("Colab PySpark") \
    .getOrCreate()

# Set Spark log level to ERROR (hides INFO/WARN)
spark.sparkContext.setLogLevel("ERROR")

In [ ]:
data = [("Raj", 23), ("Sriya", 22), ("Amit", 25)]
df = spark.createDataFrame(data, ["Name", "Age"])

df.show()

+-----+---+
| Name|Age|
+-----+---+
|  Raj| 23|
|Sriya| 22|
| Amit| 25|
+-----+---+

In [ ]:
# Create RDD
data = [1, 2, 3, 4, 5]
rdd = spark.sparkContext.parallelize(data)

# RDD operations
squared = rdd.map(lambda x: x**2)
print("RDD Output:", squared.collect())

RDD Output: [1, 4, 9, 16, 25]

In [ ]:
# Create DataFrame
data = [("Raj", 23), ("Sriya", 22), ("Amit", 25)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Show DataFrame
df.show()

# DataFrame operations
print("Filter Age > 22")
df.filter(df.Age > 22).show()

+-----+---+
| Name|Age|
+-----+---+
|  Raj| 23|
|Sriya| 22|
| Amit| 25|
+-----+---+

Filter Age > 22
+----+---+
|Name|Age|
+----+---+
| Raj| 23|
|Amit| 25|
+----+---+

In [ ]:
# Register DataFrame as SQL temporary view
df.createOrReplaceTempView("people")

# SQL Query
result = spark.sql("SELECT Name, Age FROM people WHERE Age > 22")
result.show()

+----+---+
|Name|Age|
+----+---+
| Raj| 23|
|Amit| 25|
+----+---+

In [ ]:
df = spark.read.csv("/content/menu.csv.txt", header=False, inferSchema=True)
df.show()

+---+---------+-----+----+
|_c0|      _c1|  _c2| _c3|
+---+---------+-----+----+
|  1|    PIZZA|100.0|NULL|
|  2|  Chowmin|150.0|NULL|
|  3| sandwich|120.0|NULL|
|  4|     Dosa|110.0|NULL|
|  5|  Biryani| 80.0|NULL|
|  6|    Pasta|180.0|NULL|
+---+---------+-----+----+

In [ ]:
%%writefile L1.sh
#!/bin/bash
echo "Starting the loop..."
for i in {1..5}
do
  echo "Iteration number $i"
done
echo "Loop finished!"

Overwriting L1.sh

In [ ]:
!chmod +x L1.sh

In [ ]:
!./L1.sh

Hello from shell script!

In [ ]:
!ls /content

L1.sh  menu.csv.txt  sales.csv.txt  sample_data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!bash L1.sh

Starting the loop...
Iteration number 1
Iteration number 2
Iteration number 3
Iteration number 4
Iteration number 5
Loop finished!

In [2]:
!git clone https://github.com/RajKumarRay/Linux.git

fatal: destination path 'Linux' already exists and is not an empty directory.